{% extends 'scheduler/base.html' %}

{% block content %}

<h1>All Signups</h1>
<ul>
{% for signup in signup_list %}
    <li> {{ signup.Pick_Day }} <p> {{ signup.Pick_Time }} </p> <p> {{ signup.Name }} </p></li>
    
    {% endfor %}

</ul>
<style>
    table, th, td {
      border:1px solid black;
    }
    table {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    td {
        height: 50vh;
        width:auto;
    }
</style>
<table style="table-layout: fixed; width: 80%;">
    <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <tr>
        <td id="sunday">Test</td>
        <td id="monday">Test</td>
        <td id="tuesday">Test</tdid>
        <td id="wednesday">Test</td>
        <td id="thursday">Test</td>
        <td id="friday">Test</td>
        <td id="saturday">Test</td>
    </tr>
</table>
{% endblock %}