{% extends 'scheduler/base.html' %}
{% block title%} Calendar {% endblock %}
{% block content %}

<style>
    table, th, td {
      border:1px solid #393D3F;
    }
    caption {
        caption-side: top;
        text-align: center;
        color: black;
        font-size: 42px;
    }
    table {
        text-align: center;
        position: fixed;
        bottom: 20vh;
        left: 50%;
        transform: translateX(-50%);
    }
    th {
        padding: 20px;
        font-size: 20px;
    }
    td {
        height: 50vh;
        width:auto;
    }
    li {
        font-weight: 700;
        list-style-type: none;
        width: 80%;
        background-color: #71A1C1;
        color: white;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    h1 {
        text-align: center;
    }

</style>
<table style="table-layout: fixed; width: 90%;">
    <caption>All Signups</caption>
    <tr>
        <th>Monday {{ WeeksDates.mon }}</th>
        <th>Tuesday {{ WeeksDates.tue }}</th>
        <th>Wednesday {{ WeeksDates.wed }}</th>
        <th>Thursday {{ WeeksDates.thu }}</th>
        <th>Friday {{ WeeksDates.fri }}</th>
    
    </tr>
    <tr>
        <td id="mon">
            {% for test, details in displaydays.mon  %}
            <li> 
                {{ details }}, {{ test }}
            </li>
            {% endfor %}
        </td>
        <td id="tue">
            {% for test, details in displaydays.tue  %}
                <li> 
                    {{ details }}, {{ test }}

                </li>
                {% endfor %}
        </td>
        <td id="wed">
                {% for test, details in displaydays.wed  %}
                <li> 
                    {{ details }}, {{ test }}
                </li>
                {% endfor %}
        </td>
        <td id="thu">
            {% for test, details in displaydays.thu  %}
                <li> 
                    {{ details }}, {{ test }}

                </li>
                {% endfor %}
        </td>
        <td id="fri">
            {% for test, details in displaydays.fri  %}
                <li> 
                    {{ details }}, {{ test }}

                </li>
                {% endfor %}
        </td>
    </tr>
</table>
<script>
    window.onload = function() {
        let navLink = document.getElementById('all_signups')
        navLink.classList.add('active')
    }
</script>

{% endblock %}