{% extends 'scheduler/base.html' %}
{% block title%} Calendar {% endblock %}
{% block content %}
<!---->
<style>
    table, th, td {
      border:1px solid #393D3F;
    }
    caption {
        caption-side: top;
        text-align: center;
        color: black;
        font-size: 42px;
    }
    table {
        text-align: center;
        position: fixed;
        bottom: 20vh;
        left: 50%;
        transform: translateX(-50%);
    }
    th {
        padding: 20px;
        font-size: 20px;
    }
    td {
        height: 50vh;
        width:auto;
    }
    li {
        font-weight: 700;
        list-style-type: none;
        width: 80%;
        background-color: #71A1C1;
        color: white;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    h1 {
        text-align: center;
    }
    #small {
        display: none;
    }
    #large {
        display: inline;
    }
    @media only screen and (max-width: 900px) {
        #large {
            display: none;
        }
        #small {
            display: inline;
        }
    }
    @media only screen and (max-width: 690px) {
        table {
            bottom: 10vh;
        }
    }

    @media only screen and (max-width: 600px) {
        table {
            bottom: 8vh;
        }
    }

    @media only screen and (max-width: 555px) {
        #small {
            display: block;
            margin-bottom: 0px;
        }
    }
</style>
<table style="table-layout: fixed; width: 90%;">
    <caption>All Signups</caption>
    <tr>
        <th><p id="large">Monday</p><p id="small">Mon</p> {{ WeeksDates.mon }}</th>
        <th><p id="large">Tuesday</p><p id="small">Tue</p> {{ WeeksDates.tue }}</th>
        <th><p id="large">Wednesday</p><p id="small">Wed</p> {{ WeeksDates.wed }}</th>
        <th><p id="large">Thursday</p><p id="small">Thur</p> {{ WeeksDates.thu }}</th>
        <th><p id="large">Friday</p><p id="small">Fri</p> {{ WeeksDates.fri }}</th>
    
    </tr>
    <tr>
        <td id="mon">
            {% for test, details in displaydays.mon  %}
            <li> 
                {{ test }}
            </li>
            {% endfor %}
        </td>
        <td id="tue">
            {% for test, details in displaydays.tue  %}
            <li> 
                    {{ test }}

            </li>
            {% endfor %}
        </td>
        <td id="wed">
            {% for test, details in displaydays.wed  %}
            <li> 
                {{ test }}
            </li>
            {% endfor %}
        </td>
        <td id="thu">
            {% for test, details in displaydays.thu  %}
            <li> 
                {{ test }}

            </li>
            {% endfor %}
        </td>
        <td id="fri">
            {% for test, details in displaydays.fri  %}
            <li> 
                {{ test }}

            </li>
            {% endfor %}
        </td>
    </tr>
</table>
<script>
    window.onload = function() {
        let navLink = document.getElementById('all_signups')
        navLink.classList.add('active')
    }
</script>

{% endblock %}