{% extends 'scheduler/base.html' %}
{% block title%} Signup {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
<form action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %}  
    {{ form|crispy }}
    <input type="submit" name="submit" value="Submit" id="submit">
</form>
</div>
    
<style>
      * {
        box-sizing: border-box;
    }
    .container{
      margin-top: 10%;
      margin-bottom: 10%;
      width: 100%;
    }
    form {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(255, 255, 255);
        padding: 30px;
        border-radius: 20px;
        box-shadow: 0px 0px 19px 11px rgba(45,45,45,0.12);
      }  

      input[type='submit'] {
        background-color: #f2f2f2;
        border: none;
        padding: 7px 20px 7px 20px;
        border-radius: 5px;
        transition: all, 100ms;
      }
      input[type='submit']:hover {
        background-color: #71A1C1;
        color: white;
      }
      input:focus, select:focus {
        outline: none !important;
        border-color: #71A1C1 !important;
        box-shadow: 0 0 10px #71A1C1 !important;
      }
      @media only screen and (max-width: 900px) {
        form{
          width: 90%;
          margin-top: 15%;
          margin-left: 5%;
          margin-right: 5%;
        }
      }
</style>

<script>
    window.onload = function() {
        let navLink = document.getElementById('signup')
        navLink.classList.add('active')
    }
</script>
{% endblock %}

